@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-zal: Zalando Sans SemiExpanded, 'sans-serif';

  --animate-slide-in: slide-in 0.3s linear;
  @keyframes slide-in {
    0% {
      transform: translateY(-5%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

html,
body,
app-root {
  height: 100%;
  margin: 0;
}
