<div class="bg-[url(/jj-bg.webp)] h-full flex-1 bg-cover bg-center flex flex-col justify-start">
  <div class="flex justify-between p-5 bg-white/20 shadow-b-lg items-center backdrop-blur-xs">
    <h1
      class="font-zal text-5xl text-white font-semibold text-shadow-sm text-shadow-green-500 my-4"
    >
      Liste des pollutions
    </h1>
    <div class="flex justify-end gap-4 items-center">
      <app-favorite />
      <lucide-icon [img]="Search" class="w-6 h-6 text-slate-50"></lucide-icon>
      <input
        type="text"
        placeholder="Rechercher une pollution..."
        class="p-2 rounded-lg border border-slate-300 bg-white placeholder:text-slate-500"
        [formControl]="searchQueryControl"
      />
      <div class="flex gap-2">
        <button
          class="rounded-full bg-slate-50 hover:bg-slate-100 border border-slate-200 px-4 py-2 cursor-pointer"
          (click)="sortByDate()"
        >
          Voir les pollutions les plus récentes
        </button>
        <button
          class="rounded-full bg-slate-50 hover:bg-slate-100 border border-slate-200 px-4 py-2 cursor-pointer"
          (click)="resetSorting()"
        >
          Réinitialiser le tri
        </button>
      </div>
    </div>
  </div>
  @if (pollutionList$ | async; as pollutionList) {
    <div class="flex-1 overflow-auto backdrop-blur-xs">
      <div class="m-2 grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
        @for (pollution of pollutionList; track $index) {
          <app-pollution-item
            [pollution]="pollution"
            (deletePollution)="deletePollution($event)"
            (showDetails)="showDetails($event)"
          ></app-pollution-item>
        }
      </div>
    </div>
  } @else {
    <div class="h-full w-full flex items-center justify-center">
      <app-loader />
    </div>
  }
</div>
