<div
  class="backdrop-blur-xs flex flex-col items-center justify-center gap-8 w-2/3 bg-slate-50/25 p-6 rounded-xl border-slate-300 border-1"
>
  <h1 class="font-zal text-5xl text-white font-semibold text-shadow-sm text-shadow-green-500 my-4">
    Déclarer une pollution
  </h1>
  <form [formGroup]="formGroup" class="flex items-center justify-center gap-8 w-full p-6">
    <div class="gap-2 justify-around grid grid-cols-1 md:grid-cols-2 flex-1">
      <div class="flex flex-col gap-6">
        @for(pollutionField of pollutionFields; track $index){ @if($index < pollutionFields.length /
        2){
        <div class="flex flex-col gap-2">
          @switch(pollutionField.type){ @case('select'){
          <label class="text-gray-700 font-medium">{{ pollutionField.label }}:</label>
          <select
            [formControlName]="pollutionField.name"
            class="bg-slate-50 p-3 rounded-lg border border-slate-300 placeholder:text-slate-400"
          >
            @for(type of pollutionTypes; track $index){
            <option [value]="type">{{ type }}</option>
            }
          </select>
          } @default{
          <label class="text-gray-700 font-medium">{{ pollutionField.label }}:</label>
          <input
            [formControlName]="pollutionField.name"
            [type]="pollutionField.type"
            class="bg-slate-50 p-3 rounded-lg border border-slate-300 placeholder:text-slate-400"
            [placeholder]="pollutionField.placeholder"
          />
          <span class="text-red-500 text-sm h-3">
            @if(formGroup.get(pollutionField.name)?.invalid &&
            formGroup.get(pollutionField.name)?.touched){
            {{ pollutionField.error }}
            }</span
          >
          } }
        </div>
        } }
      </div>

      <div class="flex flex-col gap-6">
        @for(pollutionField of pollutionFields; track $index){ @if($index >= pollutionFields.length
        / 2){
        <div class="flex flex-col gap-2">
          @switch(pollutionField.type){ @case('select'){
          <label class="text-gray-700 font-medium">{{ pollutionField.label }}:</label>
          <select
            [formControlName]="pollutionField.name"
            class="bg-slate-50 p-3 rounded-lg border border-slate-300 placeholder:text-slate-400"
          >
            @for(type of pollutionTypes; track $index){
            <option [value]="type">{{ type }}</option>
            }
          </select>
          } @default{
          <label class="text-gray-700 font-medium">{{ pollutionField.label }}:</label>
          <input
            [formControlName]="pollutionField.name"
            [type]="pollutionField.type"
            class="bg-slate-50 p-3 rounded-lg border border-slate-300 placeholder:text-slate-400"
            [placeholder]="pollutionField.placeholder"
          />
          <span class="text-red-500 text-sm h-3">
            @if(formGroup.get(pollutionField.name)?.invalid &&
            formGroup.get(pollutionField.name)?.touched){
            {{ pollutionField.error }}
            }</span
          >
          } }
        </div>
        } }
      </div>
    </div>
  </form>
  <div
    class="flex bg-slate-50 p-6 rounded-lg border border-slate-200 items-center justify-center transition-all duration-100 ease-out"
  >
    <button
      type="submit"
      class="bg-green-600 hover:bg-green-700 text-white font-medium py-3 px-6 rounded-lg transition-all disabled:opacity-50 disabled:hover:cursor-not-allowed"
      (click)="onSubmit()"
      [disabled]="isSubmitting || formGroup.invalid"
    >
      Déclarer
    </button>
    <div
      class="overflow-hidden transition-all duration-100 ease-out"
      [ngClass]="isSubmitting ? 'w-6 ml-4' : 'w-0 ml-0'"
    >
      <lucide-angular
        [img]="LoaderCircle"
        class="h-6 w-6 animate-spin text-green-600"
      ></lucide-angular>
    </div>
    <div
      class="overflow-hidden transition-all duration-100 ease-out"
      [ngClass]="!message ? 'w-0 ml-0' : ''"
    >
      <p class="text-center text-green-600 font-medium transition-all duration-100 ease-out ml-4">
        {{ message }}
      </p>
    </div>
  </div>
</div>
